*,
*::after,
*::before{
box-sizing: border-box;
}
@font-face{
	font-family: "balgis";
	src: url('../fonts/balqis.woff2') format('woff2'),
	url('../fonts/balqis.woff2') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face{
	font-family: "RobotoCondensed-Light";
	src: url('../fonts/RobotoCondensed-Light') format('woff2'),
	url('../fonts/RobotoCondensed-Light') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face{
	font-family: "RobotoCondensed-LightItalic";
	src: url('../fonts/RobotoCondensed-LightItalic') format('woff2'),
	url('../fonts/RobotoCondensed-LightItalic') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face{
	font-family: "RobotoCondensed-Regular";
	src: url('../fonts/RobotoCondensed-Regular') format('woff2'),
	url('../fonts/RobotoCondensed-Regular') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
ul{
	list-style: none;
}

a{
	color: inherit;
	text-decoration: none;
}
body{
	color: #000;
	font-family: "RobotoCondensed-Light";
	font-size: 18px;
	line-height: 21px;
}
.container{
	max-width: 1230px;
	margin: 0 auto;
	padding:0 15px;
	
}

.page-section{
	margin: 200px auto;
	max-width: 1920px;
	
}

.title{
font-size: 96px;
line-height: 128px;
color: #E2AB3F;
font-family: "balgis";
font-weight: 300;
margin-bottom: 100px;

}

.title span {
font-size: 28px;
line-height: 24px;
color: #000000;
font-family: "RobotoCondensed-LightItalic";
display: block;
margin-top: -30px;

}

.header{
	background-image: url(../images/header-bg.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}
.header__top{
	display: flex;
	justify-content: space-between;
	padding-top: 72px;
	font-size: 24px;
	line-height: 28px;
	font-family: "RobotoCondensed-Regular";
}
.menu__list-item{
	display: inline-block;
}

.menu__list-item + .menu__list-item{
	margin-left: 52px;
}
.menu__list-link:hover{
text-decoration: underline;
}
.header__phone{
	padding-left: 40px;
	position: relative;
}
.header__phone::before{
	content: "";
	position: absolute;
	background-image: url('../images/phone-icon.svg');
	width: 30px;
	height: 30px;
	left: 0;
}
.header__title{
	padding-top: 152px;
	text-align: center;
	font-size: 250px;
	line-height: 334px;
	font-family: "balgis";
	font-weight: 300;
}
.header__title span{
display: block;
text-align: right;
font-size: 56px;
line-height: 66px;
font-family: "RobotoCondensed-LightItalic";
margin-top: -66px;
margin-right: 85px;

}

.fairy-tail__slider{
width: 50%;
}
.slick-btn{
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 5;
cursor: pointer;
background-color: transparent;
border: none;
outline: none;	
}

.slick-prev{
left: 0;
}
.slick-next{
right: 0;
}
.fairy-tail__inner{
	position: relative;
}
.fairy-tail__container,
.our-trip__content{
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.fairy-tail__body{
	width: 50%;
	margin-left: auto;
	padding-left: 55px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.fairy-tail__body-title{
	font-family: "RobotoCondensed-Regular";
}
.fairy-tail__text{
	padding: 10px 0;
}

.fairy-tail__title span{
	margin-left: 185px;
}
.our-trip__slider{
	width: 50%;
	margin-left: auto;
}

.our-trip-inner{
	position: relative;
}

.our-trip__title span{
margin-left: 240px;
}

.our-trip__body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	height: 100%;
}

.our-trip__list{
margin: 5px 0;
font-size: 24px;
line-height: 28px;
}

.our-trip__list li:first-child{
	margin-bottom: 20px;
	font-family: "RobotoCondensed-Regular";
	font-weight: 600;
}

.our-trip__btn{
font-family: "RobotoCondensed-LightItalic";
font-size: 24px;
line-height: 28px;
border: 1px solid #E2AB3F;
padding: 11px 53px;
}

.our-trip__content{
	/*width: 50%;*/
	padding-right: 55px;
}

.hotel__title span{
margin-left: 120px;

}
.hotel__inner{
	display:flex;
}
.hotel__images{
	margin-right: 100px;
}
.hotel__text{
	margin-bottom: 20px;
}

.hotel__gallery{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hotel__gallery a{
margin-top: 50px;
}

.price__title span{
margin-left: 123px;

}

.price__inner{
display: flex;
}

.price__on__title,
.price__off-title{
	font-family: "RobotoCondensed-Regular";
	margin-bottom: 50px;
	font-size: 24px;
	line-height: 28px;
}

.price__on{
	margin-right: 70px;
	width: 530px;
}

.price__list-item{
	line-height: 21px;
	margin-bottom: 20px;
}

.price{
	background-image: url(../images/price-bg.png);
	background-repeat: no-repeat;
	background-position: center right;
}

.contacts__inner{
	display: flex;
	justify-content: space-between;
}

.contacts__content{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.contacts__date,
.contacts__price{
font-family: "balgis";
font-size: 96px;
color: #E2AB3F;
line-height: 100px;
}

.contacts__date{
margin-bottom: 20px;
}

.contacts__price{
	margin-left: 120px;
}

.contacts__date span,
.contacts__price span{
display: block;
font-size: 24px;
line-height: 28px;
color: #000;
margin-top: -10px;
margin-left: 205px;
font-family: "RobotoCondensed-LightItalic";
}

.contacts__form{
	max-width: 383px;
	margin: 0 auto;
}

.contacts__form-title{
font-size: 24px;
line-height: 28px;
margin-bottom: 50px;
font-family: "RobotoCondensed-Regular";
}

.contacts__form-input{
border: 1px solid #E2AB3F;
display: block;
margin-bottom: 20px;
height: 50px;
width: 100%;
padding: 0 31px;
font-weight: 300;
font-size: 18px;
line-height: 21px;
font-family: "RobotoCondensed-Light";

}

.contacts__form-input::placeholder
color: #000{
}

.contacts__form-btn{
font-family: "RobotoCondensed-Light";
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
border: 1px solid #E2AB3F;
background-color: transparent;
padding: 11px 45px;
cursor: pointer;
}

.footer{
	background-image: url(../images/footer-pg.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-top: 96px;
}

.footer__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__text{
	font-size: 86px;
line-height: 115px;
font-family: "balgis";
}

.footer__contacts{
	width: 356px;
	height: 527px;
	background-image: url(../images/footer-contact.png);
	background-repeat: no-repeat;
	text-align: center;
	background-size: cover;


}

.footer__contacts-title{
font-size: 86px;
line-height: 115px;
color: #E2AB3F;
font-family: "balgis";
margin-bottom: 50px;
padding-top: 50px;
}

.footer__phone{
	margin-bottom: 20px;
}



.footer__phone,
.footer__email{
display: inline-block;
padding-left: 40px;
position: relative;
}


.footer__phone::before,
.footer__email::before{
content: "";
position: absolute;
width: 30px;
height: 30px;
left: 0;
top: -5px;
}

.footer__phone::before{
	background-image: url(../images/footer-phone.svg);
}

.footer__email::before{
background-image: url(../images/footer-mail.svg);
}

.footer__social{
	margin-top: 38px;
}

.footer__social a{
margin: 0 7px;
}